name: Web E2E Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      browser:
        description: 'Browser to run tests'
        required: true
        default: 'chrome'
        type: choice
        options:
          - chrome
          - firefox
          - electron

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Verificar versão do Node
        run: node --version

      - name: Instalar dependências
        run: npm install

      - name: Executar testes Cypress
        run: npm run test:report

      - name: Upload dos artefatos
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: relatorios-cypress
          path: |
            cypress/reports
            cypress/screenshots
            cypress/videos
          if-no-files-found: warn